
#title{
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: "Montserrat";

}
h2{
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 700;
}
h3{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.3rem;
  padding-top: 8%;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15% 5%;
}

.logo-img{
  width: 30px;
}
/* Navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0px 5px;
}
.nav-link{
  font-size: 1rem;
  font-family: "Montserrat";
}

/* download-button */
.download-button{
  margin: 5% 3% 5% 0%;
}

/* tital-img */
.tital-img{
  width: 60%;
  margin-left: 14%;
  transform: rotate(25deg);
  position: absolute;
}

/* features box */
#features{
  padding: 3% 16%;
  text-align: center;
  background-color: #fff;
  position: relative;


}
.features-box{
  padding: 5% 4%;
}
.icon{
  color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}
/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.carousel-item{
  padding: 9% 16%;
}
.testimonials-img{
  border-radius: 100%;
  width: 14%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 2%;
}
.press-logo{
  width: 14%;
  margin: 20px;
}
/* Cards & pricing*/
.card3{
  line-height: 0.9;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
/* CTA */
#cta{
  background-color: #ff4c68;
  color: #fff;
  font-family: "Montserrat";
  text-align: center;
  padding: 5% 15%;
}
.h3-cta{
  font-size: 3.2rem;
  line-height: 1.5;
}
/* footer */
#footer{
  padding: 7% 15%;
  text-align: center;
}
.footer-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {
.tital-img{
  position: static;
  margin-left: 1%;
  transform: rotate(0);
}
#title{
  text-align: center;
}
}
